<mat-toolbar color="primary" class="flex justify-content-between">
  <a routerLink="/">My App</a>
  <div class="buttons">
    <button mat-icon-button [matMenuTriggerFor]="notifications">
      <mat-icon matBadge="8" matBadgeColor="warn" class="bell">notifications</mat-icon>
    </button>
    <mat-menu #notifications="matMenu">
      <button mat-menu-item>Notification 1</button>
      <button mat-menu-item>Notification 2</button>
    </mat-menu>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>

    <a mat-raised-button routerLink="blog">Blog</a>
    <a mat-raised-button color="accent" routerLink="login">Login</a>
  </div>
 
</mat-toolbar>
<router-outlet></router-outlet>