<mat-card>
  <mat-card-header class="flex justify-content-between m-5">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Extra large</mat-card-subtitle>

    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Shiba Inu">
  </mat-card-header>

  <mat-card-content class="m-5">
    {{longText}}
  </mat-card-content>

  <mat-card-footer class="m-5">
    <mat-chip-list>
      <mat-chip color="accent" removable="true" selected>  <mat-icon>pets</mat-icon> Dog</mat-chip>
    </mat-chip-list>
  </mat-card-footer>
</mat-card>