<div class="all-posts">
  <a mat-raised-button routerLink="/admin/blog" color="primary">All Posts</a>
</div>
<mat-grid-list cols="3" gutterSize="20">
  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>
</mat-grid-list>
