/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.m-5 {
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
}